body {
    margin: 0;
    padding: 0;
    background-color: #445566;
    font-family: 'Press Start 2P';
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: 2vw;
    font-family: 'Press Start 2P', cursive;
}

#pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vw;              
    padding: 1vw;
}

.pokedex__pokemon {
    display: flex;
    align-items: center;
    background-color: #e0e5ec;
    flex-direction: column;
    width: 15vw;
    height: 20vw;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.pokedex__pokemon:hover {
    transform: scale(1.05);
}

.pokemon__image-wrapper  {
    background-color: #2a2e37;
    width: 13vw;
    margin: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.pokemon__img {
    width: 100px;
    height: 100px;
}

.pokemon__name {
    margin: 0;
    margin-bottom: 1vw;
    font-size: 15px;
}

.pokemon__id{
    font-size: 14px;
    color: #555;
}

.pokemon__background-type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
    height: 2vw;
    width: 10vw;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

.block__button-loading{
    display: flex;
    justify-content: center;
    margin: 3vw ;
}

#button__loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    border-radius: 6px;
    border: 0000;
    color: white;
    font-size: 12px;
    font-style: bold;
    font-family: 'Press Start 2P';
    background-color:brown;
    height: 4vw;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#button__loading:hover{
    transform: scale(1.05);
}

@media (max-width: 600px){

    #pokedex{
        gap: 5vw
    }

    .pokedex__pokemon{
        width: 38vw;
        height: 60vw;
    }

    .pokemon__image-wrapper {
        width: 34vw;
    }

    .pokemon__background-type{
        width: 34vw;
        height: 6vw;
        margin-top: 5vw;
        font-size: 15px;
        margin-bottom: 2vw;
    }

    #button__loading {
        font-size: 18px;
        height: 14vw;
        width: 70vw;
        margin: 6vw;
    }

    .pokemon__name{
        font-size: 13px;
    }
}

@media(min-width: 820px) and ( max-width: 1050px){

    .logo{
        justify-content: center;
    }
    .pokedex__pokemon{
        width: 20vw;
        height: 28vw;
        flex-wrap: nowrap;
    }

    .pokemon__image-wrapper {
        width: 18vw;
    }

    .pokemon__background-type{
        height: 3vw;
        width: 15vw;
        margin: 2vw;
    }

    .pokemon__type{
        font-size: 15px;
    }

    #button__loading {
        width: 24vw;
        height: 7vw;
        font-size: 18px;
    }

}